<div class="flex flex-row w-100 h-100">
    <div class="w-1/5 h-100">
    </div>
    <div class="w-3/5 h-100 border border-red-500">
        <ul>
            EXPLAIN
            <li>How web pages and served from a server</li>
            <li>How the client receives HTML/CSS/JS and then renders the page</li>
            <li>What kind of code can be executed with JS, or what needs to be requested from a server</li>
            HOWTO
            <li>Install Angular locally (and its dependencies)</li>
            <li>Install package to deploy to GHPages</li>
            <li>Create GitHub account, and push</li>
            <li>Make a change and Deploy to ghpages</li>
            OPTIONS?
            <li>LP (with HIGHS or MiniLP)</li>
            <li>File upload and show</li>
            <li>Use publicly hosted images/data</li>
        </ul>
        <ol>
            <li>Install <a href="https://git-scm.com/downloads">Git</a> locally</li>
            <li>Install Angular locally (incl. dependencies Node and npm)</li>
            <div>
                Follow instructions in <a href="https://angular.io/guide/setup-local">Angular Docs - Local Setup</a> then use <code>ng serve</code> to test. Make some changes to test.
            </div>
            <li>Set up a GitHub account and new empty repo</li>
            <li>Install <a href="https://www.npmjs.com/package/angular-cli-ghpages">angular-cli-ghpages</a></li>
            <li>Test deployment. Profit!</li>
            <li>Try add some fancier stuff?</li>
        </ol>
    </div>
    <div class="w-1/5 h-100">
    </div>

</div>